---
http_interactions:
- request:
    method: get
    uri: https://utahavalanchecenter.org/forecast/salt-lake/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Drupal-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"advisories":[{"advisory":{"date_issued":"Sunday, March 20, 2022 -
        5:47am","date_issued_timestamp":"1647776879","special_announcement":"&nbsp;A
        new piece called \" A Reckoning \"&nbsp;talks about the recent string of human-triggered
        avalanches. If you missed the essay Deus Ex Machina,&nbsp;published just at
        the onset of close calls and&nbsp;accidents, you''ll find it HERE&gt;\r\r\r\rPlease
        help support avalanche forecasting throughout Utah. Donate to the Spring Campaign
        to help raise the funds to support the forecasting you rely on.\r\r","general_announcements":"\rWho''s
        up for some free avalanche training? Get a refresher, become better prepared
        for an upcoming avalanche class, or just boost your skills. Go to&nbsp;https://learn.kbyg.org/&nbsp;and
        scroll down to Step 2 for a series of interactive online avalanche courses
        produced by the UAC.\r\r&nbsp;\r\r\rCLICK HERE FOR MORE GENERAL INFO AND FAQ\r\r\rThis
        information does not apply to developed ski areas or highways where avalanche
        control is normally done. This forecast is from the U.S.D.A. Forest Service,
        which is solely responsible for its content. This forecast describes general
        avalanche conditions and local variations always occur.\r\r&nbsp;\r\rObservations
        and Avalanches\r\rBackcountry Emergency Procedures\r\rInstagram\r\rFacebook\r\rGet
        Forecast Email\r\rPrevious Forecasts\r\rContact via email\r\rSubmit Observation\r","current_conditions":"spring''s
        cherry blossoms\r\rwelcome snow, a splitting storm\r\rwinter has life yet\r\r\r\rHappy
        1st Day of Spring.&nbsp;&nbsp;\r\rSkies are overcast.&nbsp; Winds are 15-20mph
        from the south.&nbsp; Temperatures remain mild ahead of the cold front with
        temps in the upper 20s to low 30s.&nbsp;\r\rThe front should arrive mid-morning
        with a good burst of snowfall.&nbsp; We may see 3-6\" by evening.&nbsp; There
        is an outside chance of lake effect by dinnertime.&nbsp;\r\rTemperatures will
        rapidly fall to the low teens post-frontal; winds will veer northwesterly,
        be gusty during frontal passage, but then blow 15-20mph along the higher ridgelines.\r\rWe
        stay under a cool northwest flow for early week with a ridge building for
        mid-late week.&nbsp; Mountain temperatures rise again to well above freezing
        by Thursday.&nbsp;&nbsp;\r\rSomething of interest for next weekend; we''ll
        see.\r\r\r\rTravel is easy with excellent coverage, particularly in the upper
        elevations. Base depths are 80-105\" in the upper Cottonwoods and 50-80\"
        along the Park City ridgeline. The mid-week storm of 2-4\" added a little
        window dressing to the landscape, but wind, sun, and thermal crusts abound.
        Still, one can find good riding conditions in the sheltered terrain.\r\r\r","recent_activity":"First
        off - thanks to all of you for your reports and observations: they help paint
        the most accurate picture of what''s going on in the backcountry.\r\r\r\r\r\tA
        skier remotely triggered an 18\" deep and 30'' wide pocket on a steep northeast
        facing slope at 8200'' in the Eeny-Meenies of Mill B South.&nbsp;\r\tA snowboarder
        triggered, and was caught and briefly carried in an 18\" deep and 80'' wide
        avalanche in Cardiff Fork of BCC.&nbsp; Northeast[...]
